<div id="autosave"></div>
<div class='editor-left'>
  <div>
    <div>
    Title: <%= text_field 'risk', 'title', :required => true%>
    </div>
    <div>
    Owner: <%= text_field 'risk', 'owner_id', :required => true%>
    </div>
    <div>
    Description: <%= text_field 'risk', 'description', :required => true %>
    </div>
    <div>
    Probability: <%= text_field 'risk', 'probability', :required => true %>
    </div>
    <div>
    Cost:
    <select name="risk[cost]">
      <option value='High'> High </option>
      <option value='Medium'> Medium </option>
      <option value='Low'> Low </option>
    </select>
    </div>
    <div>
   Schedule:
    <select name="risk[schedule]">
      <option value='High'> High </option>
      <option value='Medium'> Medium </option>
      <option value='Low'> Low </option>
    </select>
    </div>
    <div>
    Technical:
    <select name="risk[technical]">
      <option value='High'> High </option>
      <option value='Medium'> Medium </option>
      <option value='Low'> Low </option>
    </select>
    </div>
    <div>
    Status: <%= text_field 'risk', 'status', :required => true %>
    </div>
    <div>
    Early Impact: <%= calendar_date_select 'risk', 'early_impact' %>
    </div>
    <div>
    Last Impact: <%= calendar_date_select 'risk', 'last_impact' %>
    </div>
    <form>
     Comments:
     </br>
     <textarea rows="3" placeholder="Comment on this risk"></textarea>
    </form>
    </br>

    <% if @risk.nil? or @risk.status == "active" %>
    <%= submit_tag "Save" %>
    <% end %>
  </div>
</div>
