<div id="autosave"></div>
<div class='editor-left'>
  <div>
    <div>
    Title: <%= text_field 'risk', 'title', :required => true%>
    </div>
    <div>
    Short Title: <%= text_field 'risk', 'short_title'%>
    </div>
    <div>
    Owner: <%= text_field 'risk', 'owner_id', :required => true%>
    </div>
    <div>
    Creator: <%= text_field 'risk', 'creator_id', :required => true %>
    </div>
    <div>
    Description: <%= text_field 'risk', 'description', :required => true %>
    </div>
    <div>
    Root Cause: <%= text_field 'risk', 'root_cause'%>
    </div>
    <div>
    Probability:
    <select name="risk[probability]">
      <option value='3'> High </option>
      <option value='2'> Medium </option>
      <option value='1'> Low </option>
    </select>
    </div>
    <div>
    Cost:
    <select name="risk[cost]">
      <option value='3'> High </option>
      <option value='2'> Medium </option>
      <option value='1'> Low </option>
    </select>
    </div>
    <div>
   Schedule:
    <select name="risk[schedule]">
      <option value='3'> High </option>
      <option value='2'> Medium </option>
      <option value='1'> Low </option>
    </select>
    </div>
    <div>
    Technical:
    <select name="risk[technical]">
      <option value='3'> High </option>
      <option value='2'> Medium </option>
      <option value='1'> Low </option>
    </select>
    </div>
    <div>
    Early Impact: <%= calendar_date_select 'risk', 'early_impact' %>
    </div>
    <div>
    Last Impact: <%= calendar_date_select 'risk', 'last_impact' %>
    </div>
    <div>
    Mitigation: <%= text_field 'risk', 'mitigation' %>
    </div>
    <div>
    Contingency: <%= text_field 'risk', 'contingency' %>
    </div>
    <div>
    Critical Path: <%= text_field 'risk', 'critical_path' %>
    </div>
    <div>
    WBS Spec: <%= text_field 'risk', 'wbs_spec' %>
    </div>
     <div>
    Type: <%= text_field 'risk', 'type' %>
    </div>
    <div>
    Other Type: <%= text_field 'risk', 'other_type' %>
    </div>
    <form>
     Comments:
     </br>
     <textarea rows="3" placeholder="Comment on this risk"></textarea>
    </form>
    </br>

    <% if @risk.nil? or @risk.status == "active" %>
    <%= submit_tag "Save" %>
    <% end %>
  </div>
</div>
