<% for audit in @risk.audits.reverse %>
  <% for change in audit.audited_changes %>
     <% field = change[0] %>
     <tr class="info">
       <% if not change[1].nil? and (change[1].class == Array and not change[1][0].nil?) and field != 'days_to_impact' and field != 'edited_by'%>
         <% old_val = change[1][0] %>
         <% new_val = change[1][1] %>
         <% if !audit.audited_changes["edited_by"].nil?%>
           <td><%= audit.audited_changes["edited_by"][1] %></td>
         <% else %>
           <td><%= @risk.edited_by %>
         <% end %>
         <td><%= audit.created_at%></td>
         <td><%= field%> </td>
         <% if change[1].class == Array%>
           <% if (not (old_val.class == Fixnum)) and !old_val.class == Date and old_val.empty? %>
             <td><%= 'nil' %>
             <td><%= new_val %></td>
           <% else %>
             <td><%= old_val %></td>
             <td><%= new_val %></td>
           <% end %>
         <% else%>
           <td><%= 'nil' %>
           <td><%= change[1] %>
         <% end %>
      <% end %>
    </tr>
  <% end %>
<% end %>
