<% for risk in @risks %>
<tr>
    <td class='first'>
            <%= link_to risk.title, edit_risk_path(params[:pid], risk.id) %>
            </td>
<td>
<%= risk.description %>
</td>
<td class='last'>
<%= risk.status %>
</td>
<% if @user.admin? or risk.owner_id == @user.id%>
       <td><%= link_to "X", destroy_risk_path(params[:pid], :rid => risk.id) -%></td>
<% else %>
       <td><%= 'N/A' %>
<% end %>
</tr>
<% end %>
