<% @page_heading = "Risks Page" + content_tag(:div, link_to("New Risk", {:controller => 'risk', :action => 'new'}, :class => 'btn info'), :class => 'pull-right') %>


  <h1> Risks for <%= @project.name %></h1>
<p><center><%= flash[:notice] %></center></p>
<p><center><%= params[:notice] %></center></p>
<%= button_to "<< Return to project", edit_project_path(params[:pid]), :class => 'btn btn info', :method => :get%>
<%= button_to "+ Create New Risk", new_risk_path(params[:pid]), :class => 'btn btn info', :method => :get%>


<table class="zebra-striped clearfix" id="risks">
    <tr>
    <th class = 'first'><%= "Title" %></th>
    <th><%= "Description" %></th>
    <th><%= "Status" %></th>
    <% if @user.admin? or @project.owner == @user%>
    <th><%= "Delete?" %></th>
    <% end %>
    </tr>
<%= render 'risk_list', {:risks => @risks } -%>
</table>

