<% @page_heading = "Risks Page" + content_tag(:div, link_to("New Risk", {:controller => 'risk', :action => 'new'}, :class => 'btn info'), :class => 'pull-right') %>


  <h1> Risks for <%= @project.name %></h1>

<script type="text/javascript">
 function loadData(path, div_id) {
    var data_id = "#" +div_id
    var risk_id = data_id.substring(data_id.indexOf("_")+1);
    var to_load = path + " #risk_info";
    jQuery(data_id).load(to_load, function() { var elems = ["risk_rating", "risk_probability", "risk_cost", "risk_schedule", "risk_tech"];
        for (var i=0; i<elems.length; i++) {
          var elem_str = "#"+ "frame_" + risk_id +"_" +elems[i];
          var val = jQuery(elem_str).text().trim();
          if (val == "High") {jQuery(elem_str).css({color: 'red'});}
          if (val == "Med") { jQuery(elem_str).css({color: 'yellow'});}
	  if (val == "Low") { jQuery(elem_str).css({color: 'green'});}
}});
   
  }

  function changeForm(proj_id, div_id) {
    div_button = "button_"+div_id.substring(div_id.indexOf("_")+1);

    if (document.getElementById(div_id).style.display == "none") {
        var path = "/project/"+ proj_id + "/risk/" + div_id.substring(div_id.indexOf("_")+1);
       loadData(path, div_id);
       document.getElementById(div_id).style.display = "block";
       document.getElementById(div_button).value = "-";
      }
    else {
        document.getElementById(div_id).style.display = "none";
        document.getElementById(div_button).value = "+";
      }
  }

</script>
<p><center><%= flash[:notice] %></center></p>
<p><center><%= params[:notice] %></center></p>
<p><center><%= params[:error] %></center></p>

<%= render_breadcrumbs %>

<%= button_to "+ Add New Risk", new_risk_path(params[:pid]), :class => 'btn btn info', :method => :get%>


<table class="zebra-striped clearfix" id="risks">
    <tr>
    <th><%= "Expand" %></th>
    <th><%= link_to "Risk ID", risk_index_path(params[:pid], :sort => "id") %></th>
    <th><%= link_to "Title", risk_index_path(params[:pid], :sort => "title") %></th>

    <th><%= link_to "Risk Owner", risk_index_path(params[:pid], :sort => "owner") %></th>
    <th><%= link_to "Risk Rating", risk_index_path(params[:pid], :sort => "risk_rating") %></th>
    <th><%= link_to "Early Impact", risk_index_path(params[:pid], :sort => "early_impact") %></th>
    <th><%= link_to "Last Impact", risk_index_path(params[:pid], :sort => "last_impact") %></th>
    <th><%= link_to "Status", risk_index_path(params[:pid], :sort => "status")%></th>
    <th><%= "Deactivate?" %></th>
    <th><%= "Reactivate?" %></th>
    </tr>
<%= render 'risk_list', {:risks => @risks } -%>
</table>

