<h1><center> <%= @risk.title %></center> </h1>
  <p><center><%= flash[:notice] %></center></p>
  <p><center><%= params[:notice] %></center></p>
  <p><center><%= params[:error] %></center></p>
 <%= render_breadcrumbs %>
<% if @risk.status == "active" %><%= button_to "+ Edit Risk", edit_risk_path(params[:pid], params[:rid]), :class => 'btn btn-info', :method => :get %>
<% end %>

Title: <%= @risk.title %> <br/>
Short Title: <%= @risk.short_title %> <br/>
Owner: <%= @risk_owner_username %> <br/>
Creator: <%= @risk_creator_username %> <br/>
Status: <%= @risk.status %><br />
Description: <%= @risk.description %> <br/>
Risk Rating: <%= @risk.risk_rating %> <br/>
Root Cause: <%= @risk.root_cause %> <br/>
Probability: <%= @risk_probability %> <br/>
Cost: <%= @risk_cost %> <br/>
Schedule: <%= @risk_schedule %> <br/>
Technical: <%= @risk_technical %> <br/>
Days to Impact: <%= @risk.days_to_impact %> <br/>
Early Impact Date: <%= @risk.early_impact %> <br/>
Last Impact Date: <%= @risk.last_impact %> <br/>
Mitigation: <%= @risk.mitigation %> <br/>
Contingency: <%= @risk.contingency %> <br/>
Critical Path: <%= @risk.critical_path %> <br/>
WBS Spec: <%= @risk.wbs_spec %> <br/>
Type: <%= @risk.type %> <br/>
Other Type: <%= @risk.other_type %> <br/>
Comments: <%= @risk.comment %> <br/>

<br>
Comment Log:
<table class="table table-striped" id="logs">
    <tr>
    <th><%= link_to "User", risk_index_path(params[:pid], :sort => "user") %></th>
    <th><%= link_to "Date", risk_index_path(params[:pid], :sort => "date") %></th>
    <th><%= "Comment History" %></th>
    </tr>
           <%= render 'comment_log', {:risk => @risk} -%>
</table>

Log:
<table class="table table-striped" id="logs">
    <tr>
    <th><%= link_to "User", risk_index_path(params[:pid], :sort => "user") %> </th>
    <th><%= link_to "Date", risk_index_path(params[:pid], :sort => "user") %></th>
    <th><%= link_to "Field Modified", risk_index_path(params[:pid], :sort => "field_modified") %></th>
    <th><%= "Old Value"%></th>
    <th><%= "New Value"%></th>
    </tr>
           <%= render 'log', {:risk => @risk} -%>
</table>
