<h1><center> <%= @risk.title %></center> </h1>
<script type="text/javascript">
window.onload = function setColors() {
    var full_path = window.location.pathname.split('/');
    var elem_str = "#frame_"+ full_path[full_path.length -1]+"_risk_rating";
    var val = jQuery(elem_str).text().trim();
    if (val == "High") {jQuery(elem_str).css({background: 'red'});}
    if (val == "Med") {jQuery(elem_str).css({background: 'yellow'});}
    if (val == "Low") {jQuery(elem_str).css({background: 'green'});}
  for (var i=1; i<4; i++) {
     for (var j=1; j<4; j++) {
	
        var elem = "risk_" + full_path[full_path.length -1] +"_probability_impact_"  + i + j;
	
        var value = document.getElementById(elem).innerHTML;
        if (value == 1) {
           document.getElementById(elem).innerHTML = "Low";
           document.getElementById(elem).style.background = "green";
        }
        if (value == 2) {
           document.getElementById(elem).innerHTML = "Med";
           document.getElementById(elem).style.background = "yellow";
        }
        if (value == 3) {
           document.getElementById(elem).innerHTML = "High";
           document.getElementById(elem).style.background = "red";
        }
    }
  }
}
</script>
  <p><center><%= params[:notice] %></center></p>
  <p><center><%= params[:error] %></center></p>
 <%= render_breadcrumbs %>
<% if @risk.status == "active" %><%= button_to "+ Edit Risk", edit_risk_path(params[:pid], params[:rid]), :class => 'btn btn-info', :method => :get %>
<% end %>
<div id="risk_info" style="position:relative">

<span id="left_container" style="float:left;width:200px;padding-right:50px;">
<span style="font-weight:bold">Title: </span> <%= @risk.title %><br/>
<br/>
<span style="font-weight:bold">Owner: </span><%= @risk_owner_username %> <br/>
<span style="font-weight:bold">Creator: </span> <%= @risk_creator_username %> <br/>
<span style="font-weight:bold">Status: </span> <%= @risk.status %><br />
<span style="font-weight:bold">Risk Rating: </span> <span id="frame_<%= @risk.id %>_risk_rating">   <%= @risk_rating %>   </span><br/>
  <br/>
Risk Matrix:
<table id="risk_matrix" style="width:200px;">
<tr>
  <td rowspan="3" style="text-align:center;width:10px;"> Probability </td>
  <td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_31"><%= @project.probability_impact_31 %> </td>
  <td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_32"><%= @project.probability_impact_32 %> </td>
  <td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_33"><%= @project.probability_impact_33 %> </td>
</tr>
<tr>
  <td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_21"><%= @project.probability_impact_21 %> </td>
  <td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_22"><%= @project.probability_impact_22 %> </td>
  <td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_23"><%= @project.probability_impact_23 %> </td>
</tr>
<tr>
  <td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_11"><%= @project.probability_impact_11 %> </td>
  <td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_12"><%= @project.probability_impact_12 %> </td>
  <td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_13"><%= @project.probability_impact_13 %> </td>
</tr>
<tr>
<td colspan="3" style="text-align:center">Impact</td>
</tr>
</table>
<span style="font-weight:bold">Days to Impact: </span><%= @risk.days_to_impact %><br/>
<span style="font-weight:bold">Early Impact Date: </span><%= @risk.early_impact %><br/>
  <br/>
<span style="font-weight:bold">Last Impact Date: </span><%= @risk.last_impact %><br/>
<br/>
<span style="font-weight:bold">Probability: </span><span id="frame_<%= @risk.id %>_risk_probability"> <%= @risk_probability %> </span><br/>
<span style="font-weight:bold">Cost: </span><span id="frame_<%= @risk.id %>_risk_cost"><%= @risk_cost %> </span><br/>
<span style="font-weight:bold">Schedule: </span><span id="frame_<%= @risk.id %>_risk_schedule"><%= @risk_schedule %> </span><br/>
<span style="font-weight:bold">Technical: </span><span id="frame_<%= @risk.id %>_risk_tech"> <%= @risk_technical %> </span><br/>
<span style="font-weight:bold">  Critical Path: </span><%= @risk.critical_path %> <br/>
<span style="font-weight:bold">WBS Spec: </span><%= @risk.wbs_spec %> <br/>
<span style="font-weight:bold">Type: </span><%= @risk.risk_type %> <br/>
</span>
  <span id="right_container" style="position:relative;">
  <span style="font-weight:bold">Description: </span><%= @risk.description %><br/>
<br/>
   <span style="font-weight:bold">Strategy: </span><%= @risk.strategy %><br/>
  <br/>
   <span style="font-weight:bold">Triggers: </span><%= @risk.triggers %><br/>
  <br/>
   <span style="font-weight:bold">Root Cause: </span><%= @risk.root_cause %><br/>
  <br/>
  <span style="font-weight:bold">Mitigation: </span><%= @risk.mitigation %><br/>
  <br/>
  <span style="font-weight:bold">Contingency: </span><%= @risk.contingency %><br/>
  <br/>


<span style="font-weight:bold">Comments: </span><%= @risk.comment %> <br/>
  </div>

<br>
<span style="font-weight:bold">Comment Log:</span>
<table class="table table-striped" id="logs">
    <tr>
    <th><%= link_to "User", risk_index_path(params[:pid], :sort => "user") %></th>
    <th><%= link_to "Date", risk_index_path(params[:pid], :sort => "date") %></th>
    <th><%= "Comment History" %></th>
    </tr>
           <%= render 'comment_log', {:risk => @risk} -%>
</table>
<br/><br/><br/>
<span style="font-weight:bold">Log:</span>
<table class="table table-striped" id="logs">
    <tr>
    <th><%= link_to "User", risk_index_path(params[:pid], :sort => "user") %> </th>
    <th><%= link_to "Date", risk_index_path(params[:pid], :sort => "user") %></th>
    <th><%= link_to "Field Modified", risk_index_path(params[:pid], :sort => "field_modified") %></th>
    <th><%= "Old Value"%></th>
    <th><%= "New Value"%></th>
    </tr>
           <%= render 'log', {:risk => @risk} -%>
</table>
</span>
