<h1><center> <%= @risk.title %></center> </h1>
<script type="text/javascript">
window.onload = function setColors() {
    var full_path = window.location.pathname.split('/');
    var elem_str = "#frame_"+ full_path[full_path.length -1]+"_risk_rating";
    var val = jQuery(elem_str).text().trim();
    if (val == "High") {jQuery(elem_str).css({background: 'red'});}
    if (val == "Med") {jQuery(elem_str).css({background: 'yellow'});}
    if (val == "Low") {jQuery(elem_str).css({background: 'green'});}
  for (var i=1; i<4; i++) {
     for (var j=1; j<4; j++) {
	
        var elem = "risk_" + full_path[full_path.length -1] +"_probability_impact_"  + i + j;
	
        var value = document.getElementById(elem).innerHTML;
        if (value == 1) {
           document.getElementById(elem).innerHTML = "Low";
           document.getElementById(elem).style.background = "green";
        }
        if (value == 2) {
           document.getElementById(elem).innerHTML = "Med";
           document.getElementById(elem).style.background = "yellow";
        }
        if (value == 3) {
           document.getElementById(elem).innerHTML = "High";
           document.getElementById(elem).style.background = "red";
        }
    }
  }
}
</script>
  <p><center><%= params[:notice] %></center></p>
  <p><center><%= params[:error] %></center></p>
 <%= render_breadcrumbs %>
<% if @risk.status == "active" %><%= button_to "+ Edit Risk", edit_risk_path(params[:pid], params[:rid]), :class => 'btn btn-info', :method => :get %>
<% end %>
<div id="risk_info" style="position:relative">

<table class="show_table">
  <tr>
    <td><b>Title: </b> <%= @risk.title %><br/><br/>
	<b>Owner: </b><%= @risk_owner_username %><br/>
	<b>Creator: </b><%= @risk_creator_username %><br/>
	<b>Status: </b><%= @risk.status %><br/>
	<b>Strategy: </b><%= @risk.strategy %><br/>
	<b>Risk Rating: </b><span id="frame_<%= @risk.id %>_risk_rating"><%= @risk_rating %></span><br/>
	<b>Risk Matrix:</b>
	<table id="risk_matrix" style="width:200px;">
	<tr>
  	<td rowspan="3" style="text-align:center;width: 1em; font-weight:bold; letter-spacing:5px;"> P r o b a b i l i t y </td>
  	<td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_31"><%= @project.probability_impact_31 %> </td>
  	<td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_32"><%= @project.probability_impact_32 %> </td>
  	<td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_33"><%= @project.probability_impact_33 %> </td>
	</tr>
	<tr>
  	<td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_21"><%= @project.probability_impact_21 %> </td>
  	<td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_22"><%= @project.probability_impact_22 %> </td>
  	<td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_23"><%= @project.probability_impact_23 %> </td>
	</tr>
	<tr>
  	<td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_11"><%= @project.probability_impact_11 %> </td>
  	<td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_12"><%= @project.probability_impact_12 %> </td>
  	<td class='risk_mx' id="risk_<%= @risk.id%>_probability_impact_13"><%= @project.probability_impact_13 %> </td>
	</tr>
	<tr>
	<td colspan="4" style="text-align:center;font-weight:bold">Impact</td>	
	</tr>
	</table>
	<br/>
	<b>Days to Impact: </b><%= @risk.days_to_impact %><br/>
	<b>Early Impact Date: </b><%= @risk.last_impact%><br/>
	<b>Last Impact Date: </b><%= @risk.early_impact %><br/><br/>
	<b>Probability: </b><%= @risk_probability %><br/>
	<b>Cost: </b><%= @risk_cost %><br/>
	<b>Schedule: </b><%= @risk_schedule %><br/>
	<b>Technical: </b><%= @risk_technical %><br/><br/>
	<b>Critical Path: </b><%= @risk.critical_path %><br/>
	<b>Triggers: </b><%= @risk.triggers %><br/>
	<b>WBS Spec: </b><%= @risk.wbs_spec %><br/>
	<b>Type: </b><%= @risk.risk_type %><br/>
    </td>
    <td><b>Description: </b><%= @risk.description %> <br/><br/>
	<b>Root Cause: </b><%= @risk.root_cause %><br/><br/>
	<b>Mitigation: </b><%= @risk.mitigation %><br/><br/>
	<b>Contingency: </b><%= @risk.contingency %><br/><br/>
	<b>Comments: </b><%= @risk.comment %><br/><br/>
    </td>
</tr>
  </table>

<br>
<span style="font-weight:bold">Comment Log:</span>
<table class="table table-striped" id="logs">
    <tr>
    <th><%= link_to "User", risk_index_path(params[:pid], :sort => "user") %></th>
    <th><%= link_to "Date", risk_index_path(params[:pid], :sort => "date") %></th>
    <th><%= "Comment History" %></th>
    </tr>
           <%= render 'comment_log', {:risk => @risk} -%>
</table>
<br/><br/><br/>
<span style="font-weight:bold">Log:</span>
<table class="table table-striped" id="logs">
    <tr>
    <th><%= link_to "User", risk_index_path(params[:pid], :sort => "user") %> </th>
    <th><%= link_to "Date", risk_index_path(params[:pid], :sort => "user") %></th>
    <th><%= link_to "Field Modified", risk_index_path(params[:pid], :sort => "field_modified") %></th>
    <th><%= "Old Value"%></th>
    <th><%= "New Value"%></th>
    </tr>
           <%= render 'log', {:risk => @risk} -%>
</table>

