  <% if @project!=nil%>
   <%= render "home/shared/error_messages", :target => @project %>
  <% end %>

<script type="text/javascript">
  window.onload = function setColors() {
  for (var i=1; i<4; i++) {
      for (var j=1; j<4; j++) {
          var elem = "probability_impact_" + i + j;
          var val = document.getElementById(elem).value;

          if (val == 1) {
            document.getElementById(elem).style.background = "green";
            }
          if (val == 2) {
            document.getElementById(elem).style.background = "yellow";}
          if (val == 3) {
            document.getElementById(elem).style.background = "red";}
        }
    }
}

          </script>
<div id="autosave"></div>
<div class='editor-left'>
  <div>
    <div>
    Name: <%= text_field 'project', 'name', :placeholder => "Name", :required => true %>
    </div>
    <%# JT - added prefix at creation time (optional)%>
    <div>
    Prefix: <%= text_field 'project', 'prefix', :placeholder => "Prefix", :required => true%>
    </div>
    <div>
    Description: <%= text_field 'project', 'description', :placeholder => "Description", :required => true %>
    </div>
    <%# JT - added owner_username for owner setting at creation%>
    <div>
    Owner: <select name='project[owner_username]'>
           <% for user in @users %>
              <option value=<%= user.username %> <%= "selected" if @project and !@project.errors.any? and @project.owner.username == user.username %>><%= user.username %></option>
                  <% end %>
           </select>
    </div>
    <div>Risk Matrix
      <table id="risk_mx">

      <% 3.downto(1).each do |p| %>
        <tr>
        <% (1..3).each do |i| %>
          <td class = 'risk_cell' id="project[probability_impact_<%= p%><%= i%>]">
             <select class='risk_menu' onchange="changeColor(this);" name = 'project[probability_impact_<%= p %><%= i %>]' id = 'probability_impact_<%= p %><%= i %>'>
             <%# JT - changed values to 1 2 3 - database dependent information sorry for the bad style!%>
                <option value="3" <%= "selected" if @project and eval  "@project.probability_impact_#{p}#{i} == 3"%>>High</option>
                <option value="2" <%= "selected" if @project and eval  "@project.probability_impact_#{p}#{i} == 2"%>>Med</option>
                <option value="1" <%= "selected" if @project and eval  "@project.probability_impact_#{p}#{i} == 1"%>>Low</option>
             </select>
         </td>
        <% end %>
        </tr>
       <% end %>
       <tr>
       <td colspan="3" style="text-align:center";>
       Impact</td>
       </tr>
       </table>
</div>
<div>
    <br/>
    <% if not @new %> <%= render 'member_list' %> <% end %>
    </div>
    <br/>
    <% if (not @user.nil?) and ((@user.admin? ) or (@project.owner == @user and @project.status == 'active'))%>
     <%= submit_tag "Save" %>
    <% end %>

  </div>
</div>
