<div id="autosave"></div>
<div class='editor-left'>
  <div>
    <div>
    Name: <%= text_field 'project', 'name', :placeholder => "Name", :required => true %>
    </div>
    <%# JT - added prefix at creation time (optional)%>
    <div>
    Prefix: <%= text_field 'project', 'prefix', :placeholder => "Prefix", :required => true%>
    </div>
    <div>
    Description: <%= text_field 'project', 'description', :placeholder => "Description", :required => true %>
    </div>
    <%# JT - added owner_username for owner setting at creation%>
    <div>
    Owner: <%= text_field 'project', 'owner_username', :placeholder => "Owner", :required => true%>
    </div>
    <div>Risk Matrix
      <table id="risk_mx">
      <% (0..2).each do |i| %>
        <tr>
        <% (0..2).each do |p| %>
          <td class = 'risk_cell' id="risk_matrix[<%= i%><%= p%>]">
             <select class='risk_menu' onchange="changeColor(this);" name = 'risk_matrix[<%= i %><%= p %>]'>
                <option value="Low">Low</option>
                <option value="Med">Med</option>
                <option value="High">High</option>
             </select>
         </td>
        <% end %>
        </tr>
       <% end %>
       </table>
     </div>
<div>
    <br>
    <% if not @project.nil? %> <%= render 'member_list' %> <% end %>
    </div>
    <br>
    <% if @user.admin? %>
    <%= submit_tag "Save" %>
<% end %>
  </div>
</div>
