<h1> <%= @project.name %> </h1>
  <p><center><%= flash[:notice] %></center></p>
<br>
<%= button_to "<< Return to projects", user_index_path, :class => 'btn btn-info', :method => :get %>
<%= button_to "+ Add New Risk", new_risk_path(@project.id), :class => 'btn btn-info', :method => :get%>
<%= button_to "+ Display Associated Risks", risk_index_path(@project.id), :class => 'btn btn-info', :method => :get %>

  <input type="button" value="+" onclick="showForm();"/> Add Project Members

<div id="members_form" style="display:none;">Please enter a comma-delimited list of usernames to add. <%= form_tag :controller=> 'project', :action=> 'add_members'%> <%= text_field :members, ''%><%= submit_tag "Add" %></form></div>

<script type="text/javascript">
function showForm() {
document.getElementById('members_form').style.display = 'block';
}
function changeColor(cell) {
  if (cell.value == "Low") {
      cell.style.background = "green";
    }
    if (cell.value == "Med") {
        cell.style.background = "yellow";
      }
      if (cell.value == "High") {
          cell.style.background = "red";
        }

}
</script>
<%= hidden_field_tag "members_sort", true if @members_header %>
  <%= render "home/shared/edit", { :form_type => "project", :form_action => {:action => "update", :class => ('autosave')}} %>

