<% @page_heading = "My Projects" + content_tag(:div, link_to("New Project", {:controller => 'project', :action => 'new'}, :class => 'btn info'), :class => 'pull-right') %>


  <h1> My Projects </h1>
<p><center><%= flash[:notice] %></center></p>
<p><center><%= params[:notice] %></center></p>
<%= link_to "+ Create New Project", "/project/new"%>


<table class="zebra-striped clearfix" id="projects">
    <tr>
    <th><%= link_to "Title", project_index_path(:sort => "title") %></th>
    <th><%= "Description" %></th>
    <th><%= "Project Owner" %></th>
    </tr>
<%= render 'project_list', {:projects => @projects } -%>
</table>

