<div id="autosave"></div>
<div class='clearfix'>
  <div>
    <div>
    First Name: <%= text_field 'user', 'first', :placeholder => "First Name", :required => true%>
    </div>
    <div>
    Last Name: <%= text_field 'user', 'last', :placeholder => "Last Name", :required => true %>
    </div>
    <div>
    Username: <%= text_field 'user', 'username', :placeholder => "Username", :required => true %>
    </div>
    <div>
    Email: <%= text_field 'user', 'email', :placeholder => "Email", :required => true %>
    </div>
    <div>
    Password: <%= password_field 'user', 'password', :placeholder => "Password", :required => true %>
    </div>

    <%= submit_tag "Save" %>
  </div>
</div>
