<div id="autosave"></div>
  <% if @user!=nil%>
   <%= render "home/shared/error_messages", :target => @user %>
  <% end %>
<div class='clearfix'>
  <table id="user_table">
    <tr>
    	<td>First Name: </td>
	<td><%= text_field 'user', 'first', :required => true%></td>
    </tr>
    <tr>
    	<td>Last Name: </td>
	<td><%= text_field 'user', 'last', :required => true %></td>
    </tr>
    <tr>
	<td>Username: </td>
 	<td> 	<% if @edit %>
 		<%= @user_username %><%= hidden_field_tag 'user[username]', @user_username %><br/>
  		<% else %>
    		<%= text_field 'user', 'username', :required => true %>
  		<% end %>
	</td>
    </tr>
    <tr>
    	<td>Email: </td>
	<td> <%= text_field 'user', 'email', :required => true %> </td>
    </tr>
    <tr>
	<td>Admin: </td>
        <td>	<% if (not @edit) or ((@current_user.admin) and @current_user!=@user) %>
    		<select name='user[admin]'>
    	            <option value="true">True</option>
    	            <option value="false">False</option>
    	       </select> <% else %>
    		<%= @user_admin %><%= hidden_field_tag 'user[admin]', @user_admin %><br/> <% end %>
	</td>
    </tr>
    <tr>
	<td>Password: </td>
	<td><% if (not @edit)  %>
    	    <%= password_field 'user', 'password', :required => true %>
    	    <% elsif @curr_user %>
            <%= password_field 'user', 'password'%>
 	    <% end %>
	</td>
    </tr>
    <tr>
    	<td colspan="2" style="text-align:center"><% if @user.nil? or @user.status == 'active' %>
      <%= submit_tag "Save" %>
    <% end %>
	</td>
    </tr>
    </table>
</div>
