<div id="autosave"></div>
<div class='clearfix'>
  <div>
    <div>
    <%= text_field 'user', 'first', :placeholder => "First Name" %>
    </div>
    <div>
    <%= text_field 'user', 'last', :placeholder => "Last Name" %>
    </div>
    <div>
    <%= text_field 'user', 'username', :placeholder => "Username" %>
    </div>
    <div>
    <%= text_field 'user', 'email', :placeholder => "Email" %>
    </div>
    <div>
    <%= password_field 'user', 'password', :placeholder => "Password" %>
    </div>
    <%= submit_tag "Save" %>
  </div>
</div>
