<div id="autosave"></div>
<div class='clearfix'>
  <div>
    <div>
    <%= text_field :first_name, nil, :placeholder => "First Name" %>
    </div>
    <div>
    <%= text_field :last_name, nil, :placeholder => "Last Name" %>
    </div>
    <div>
    <%= text_field :username, nil, :placeholder => "Username" %>
    </div>
    <div>
    <%= text_field :email, nil, :placeholder => "Email" %>
    </div>
    <div>
    <%= password_field :password, nil, :placeholder => "Password" %>
    </div>
    <%= submit_tag "Create" %>
  </div>
</div>
