
  <% for user in @users %>
<tr class="warning">
  <td class='first'>
  <%= link_to user.username, edit_user_path(user.id) %>
  </td>
  <td><%= user.first %>
  </td>
  <td><%= user.last %>
  </td>
  <td><%= user.email %>
  </td>
  <td><%= user.status %>
  </td>
  <td class='last'><%= link_to "X", {:action => 'destroy', :uid => user.id} -%>
  </td>
</tr>
<% end %>


