<% @page_heading = "System Users" + content_tag(:div, link_to("New User", {:controller => 'user', :action => 'new'}, :class => 'btn info'), :class => 'pull-right') %>

  <h1> System Users </h1>
  <p><center><%= params[:notice] %></center></p>
<%= link_to "+ Add new user", "/user/new"%>


<table class="zebra-striped clearfix" id="users">
    <tr>
    <th class = 'first'><%= "Username" %></th>
    <th><%= "Email" %></th>
    <th><%= "Status" %></th>
    <th><%= "Deactivate?" %></th>
    </tr>
<%= render 'user_list', {:users => @users } -%>
</table>
