<% @page_heading = "System Users" + content_tag(:div, link_to("New User", {:controller => 'user', :action => 'new'}, :class => 'btn info'), :class => 'pull-right') %>

  <h1> System Users </h1>
  <p><center><%= flash[:notice] %></center></p>
<%= button_to "<< Return to My Projects", user_index_path, :class => 'btn btn-info', :method => :get%>
<%= button_to "+ Add new user", "/user/new", :class => 'btn btn-info', :method => :get%>

<table class="zebra-striped clearfix" id="users">
    <tr = "warning">
    <th><%= link_to "Username", show_users_path(:sort => "username") %></th>
    <th><%= link_to "Email", show_users_path(:sort => "email") %></th>
    <th><%= link_to "Status", show_users_path(:sort => "status") %></th>
    <th><%= link_to "Deactivate?" %></th>
    </tr>
<%= render 'user_list', {:users => @users } -%>
</table>
