  <p><center><%= flash[:notice] %></center></p>
  <p><center><%= params[:notice] %></center></p>
  <p><center><%= flash[:error] %></center></p>
<% className = form_action.delete(:class) %>
  <%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>
<%= render :partial => "form" %>
    <% end %>
