<h1>Listing add_fields_to_risks</h1>

<table>
  <tr>
    <th>Columna</th>
    <th>Columnb</th>
    <th>Columnc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @add_fields_to_risks.each do |add_fields_to_risk| %>
  <tr>
    <td><%= add_fields_to_risk.columna %></td>
    <td><%= add_fields_to_risk.columnB %></td>
    <td><%= add_fields_to_risk.columnc %></td>
    <td><%= link_to 'Show', add_fields_to_risk %></td>
    <td><%= link_to 'Edit', edit_add_fields_to_risk_path(add_fields_to_risk) %></td>
    <td><%= link_to 'Destroy', add_fields_to_risk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Add fields to risk', new_add_fields_to_risk_path %>
