<p id="notice"><%= notice %></p>

<p>
  <b>Columna:</b>
  <%= @add_fields_to_risk.columna %>
</p>

<p>
  <b>Columnb:</b>
  <%= @add_fields_to_risk.columnB %>
</p>

<p>
  <b>Columnc:</b>
  <%= @add_fields_to_risk.columnc %>
</p>


<%= link_to 'Edit', edit_add_fields_to_risk_path(@add_fields_to_risk) %> |
<%= link_to 'Back', add_fields_to_risks_path %>
