<!DOCTYPE html>
<html lang="en">
<head>
  <title>NERSC Risk Tracker</title>
  <%= javascript_include_tag "prototype" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= calendar_date_select_includes %>
  <%= csrf_meta_tags %>

<style type="text/css" media="screen">
      /* Override some defaults */
      html, body {
        background-color: #ffff;
     }
     .container {
       width : 800px;
     }


</head>
</style>
<body>
    <!-- Navigation Bar -->
    <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
    <a class="brand" href="/user/index">NERSC Risk Tracker</a>
	<!-- Logout button btn btn-inverse-->
    <% if session[:uid]%>
        <div id="logo" class = "navbar_right_div">
            <%= button_to "logout", {:controller =>'user', :action => 'logout'}, :class=>'btn btn-inverse', :method => :get%>
        </div>
        <div id = "myprofile" class = "navbar_right_div">
            <%= button_to "My Profile", {:controller=>'user', :action=> 'edit', :id => session[:uid]}, :class => 'btn btn-inverse', :method => :get%>
        </div>
    <% end %>
    </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
    </div>
  </div>

</body>
</html>
