<!DOCTYPE html>
<html lang="en">
<head>
  <title>NERSC Risk Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<style type="text/css" media="screen">
      /* Override some defaults */
      html, body {
        background-color: #7b96b7;
     }
     .container {
       width : 800px;
     }


</head>
</style>
<body>
    <!-- Navigation Bar -->
    <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
    <a class="brand" href="/user/index">NERSC Risk Tracker</a>
    </ul>
    </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
    </div>
  </div>

<!-- old stuff
<div class = "container">
<div id="outerHeader">
<div id="header">

<div class="container">
<div id="logo"><%= link_to image_tag("nersc_logo.jpg", :size => "120x120"), :controller => "user", :action => "index" %>
</div>

</div>
</div>
</div>

<div id="main">
<div class="row">
<%= yield -%>
</div>
</div>
<br>
-->


<!-- logging out -->
<center>
<div id="footer">
<div id="logo">
<% if session[:uid].nil? %>
<!-- <%= button_to "login", :controller =>'user', :action => 'login' %> -->
<% else %>
<%= button_to "logout", {:controller =>'user', :action => 'logout'}, :class=>'btn btn-inverse', :method => :get%>
<% end %>
</div>
</center>
</div>
</div>
</body>
</html>
